

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: #eee;
}

h1 {
    color: green;
}

.footer {
    overflow: none;
    clear: both;

}


.img-index {
    width: 250px;
    height: 200px;
}


/*Media Queries */

/* Browser 640 or less */
@media screen and (max-width: 640px) {
  
    .container{
        width: 600px;
    }

    .nav {
        float: left;
}
  }

/* Browser 768 or less */
@media screen and (max-width: 768px) {
    .container{
        width: 700px;
    }
    .nav {
        float:left;
    }
}

/* Browser 980 or less */
@media screen and (max-width: 980px) {
    .container{
        width: 900px;
    }
}
